@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
	font-family: 'Sunflower', sans-serif;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration-line: none;
	color: inherit;
}
.genie{
	width: 100%;
	height: 4%;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1% 3% 0 3%;
	margin: 0;
	background: #fff;
}

nav ul li{
	display: inline-block;
	padding-left: 2.5vw;
	font-size: 1.5rem;
}
nav ul li a{
	color: black;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color:#12887A;
	transition: .4s;
}